In [1]:
import pandas as pd 
import seaborn as sns

In [2]:
AgeGroup = pd.read_csv('AgeGroupDetails.csv')
CovidIndia = pd.read_csv('covid_19_india.csv')
HospitalBeds = pd.read_csv('HospitalBedsIndia.csv')
ICMRTesting = pd.read_csv('ICMRTestingDetails.csv')
IndividualDetails = pd.read_csv('IndividualDetails.csv')
PopulationCensus = pd.read_csv('population_india_census2011.csv')

In [35]:
AgeGroup

   Sno AgeGroup  TotalCases Percentage
0    1      0-9          22      3.18%
1    2    10-19          27      3.90%
2    3    20-29         172     24.86%
3    4    30-39         146     21.10%
4    5    40-49         112     16.18%
5    6    50-59          77     11.13%
6    7    60-69          89     12.86%
7    8    70-79          28      4.05%
8    9     >=80          10      1.45%
9   10  Missing           9      1.30%

In [13]:
indx_maxAgeGroup = AgeGroup['TotalCases'].idxmax()

In [34]:
print('Age Group with maximum cases is {} with {} cases, constituting {} of total cases'.format(AgeGroup['AgeGroup'][indx_maxAgeGroup],AgeGroup['TotalCases'][indx_maxAgeGroup],AgeGroup['Percentage'][indx_maxAgeGroup]))

Age Group with maximum cases is 20-29 with 172 cases, constituting 24.86% % of total cases

In [36]:
CovidIndia

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30/01/20,6:00 PM,Kerala,1,0,0,0,1
1,2,31/01/20,6:00 PM,Kerala,1,0,0,0,1
2,3,01/02/20,6:00 PM,Kerala,2,0,0,0,2
3,4,02/02/20,6:00 PM,Kerala,3,0,0,0,3
4,5,03/02/20,6:00 PM,Kerala,3,0,0,0,3
...,...,...,...,...,...,...,...,...,...
734,735,07/04/20,9:00 AM,Telengana,-,-,34,7,321
735,736,07/04/20,9:00 AM,Tripura,-,-,0,0,1
736,737,07/04/20,9:00 AM,Uttarakhand,-,-,5,0,31
737,738,07/04/20,9:00 AM,Uttar Pradesh,-,-,21,3,305
738,739,07/04/20,9:00 AM,West Bengal,-,-,13,3,91

In [37]:
time = CovidIndia['Date']
ConfirmedCases = CovidIndia['Confirmed']

In [ ]:
StateWiseData = CovidIndia()